body {
  background-image: linear-gradient(to left, #8a2be2, #9542e3, #9f55e4, #a866e5, #b177e5);
}
div.wrapper {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.wrapper > div {
  width: 380px;
  height: 500px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px lightgray;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.wrapper > div.form > input {
  all: unset;
  width: 70%;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: white;
}
div.wrapper > div.form > input:checked {
  background-color: white;
}

div.wrapper > div.form > select {
  width: 70%;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: white;
}

div.wrapper > div.form >div {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
}
div.wrapper > div.form > div>button#btnReset {
  all: unset;
  width: 40%;
  height: 35px;
  color: white;
  text-align: center;
  border-radius: 15px;
  background-color: #8a2be2;
  cursor: pointer;
}
div.wrapper > div.form > div>button#btnReset:hover {
  background-color: rgba(137, 43, 226, 0.699);
}

div.wrapper > div.form > div>button#btnSend {
  all: unset;
  width: 40%;
  height: 35px;
  color: white;
  text-align: center;
  border-radius: 15px;
  background-color: #8a2be2;
  cursor: pointer;
}

div.wrapper > div.form > div>button#btnSend:hover {
  background-color: rgba(137, 43, 226, 0.699);
}



div.wrapper > div.output > p {
  width: 70%;
  font-size: 15px;
  font-weight: 600;
  margin: 20px auto;
  padding-left: 12px;
  text-align: left;
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.144),
    0px -1px 0px rgba(0, 0, 0, 0.144);
}
div.wrapper > div.output > p > span {
  font-weight: 100;
}
